USE [master]
GO
/****** Object:  Database [Library]    Script Date: 09.12.2021 17:07:41 ******/
CREATE DATABASE [Library]
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 09.12.2021 17:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[YearPublishing] [int] NOT NULL,
	[Pulbisher] [nvarchar](100) NOT NULL,
	[ThemeId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[IsRestrictions] [bit] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 09.12.2021 17:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[Patronymic] [nvarchar](30) NULL,
	[Birthday] [date] NOT NULL,
	[PositionId] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 09.12.2021 17:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReaderCard]    Script Date: 09.12.2021 17:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReaderCard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[Patronymic] [nvarchar](30) NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[IsBlock] [bit] NULL,
 CONSTRAINT [PK_ReaderCard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theme]    Script Date: 09.12.2021 17:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theme](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Theme] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TurnOver]    Script Date: 09.12.2021 17:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurnOver](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReaderCardId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[DateIssue] [datetime] NULL,
	[DateReturn] [datetime] NULL,
 CONSTRAINT [PK_TurnOver] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Title], [Author], [YearPublishing], [Pulbisher], [ThemeId], [Count], [IsRestrictions]) VALUES (1, N'Корпорация', N'Сергей Сергеевич Тармашёв', 2008, N'Аванта + ', 4, 14, 0)
INSERT [dbo].[Book] ([Id], [Title], [Author], [YearPublishing], [Pulbisher], [ThemeId], [Count], [IsRestrictions]) VALUES (2, N'Отцы и дети', N'И. С. Тургенева', 1860, N'Азбука ', 25, 9, 1)
INSERT [dbo].[Book] ([Id], [Title], [Author], [YearPublishing], [Pulbisher], [ThemeId], [Count], [IsRestrictions]) VALUES (3, N'Сладкозвучный серебряный блюз', N'Глен Кук', 2010, N'АКВИЛЕГИЯ-М', 7, 18, 0)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Surname], [FirstName], [Patronymic], [Birthday], [PositionId]) VALUES (1, N'Малинин', N'Алексей', N'Матвеевич', CAST(N'1983-12-18' AS Date), 3)
INSERT [dbo].[Employee] ([Id], [Surname], [FirstName], [Patronymic], [Birthday], [PositionId]) VALUES (2, N'Дмитриев', N'Фёдор', N'Русланович', CAST(N'1992-02-29' AS Date), 1)
INSERT [dbo].[Employee] ([Id], [Surname], [FirstName], [Patronymic], [Birthday], [PositionId]) VALUES (3, N'Иванов', N'Даниэль', N'Григорьевич', CAST(N'1984-12-08' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Id], [Title]) VALUES (1, N'Библиотекарь')
INSERT [dbo].[Position] ([Id], [Title]) VALUES (2, N'Заместитель заведующего')
INSERT [dbo].[Position] ([Id], [Title]) VALUES (3, N'Заведующий библиотекой')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[ReaderCard] ON 

INSERT [dbo].[ReaderCard] ([Id], [Surname], [FirstName], [Patronymic], [Address], [Phone], [IsBlock]) VALUES (1, N'Калашников', N'Иван', N'Фёдорович', N'шоссе Космонавтов, 53', N'+7(906)264-18-57', 0)
INSERT [dbo].[ReaderCard] ([Id], [Surname], [FirstName], [Patronymic], [Address], [Phone], [IsBlock]) VALUES (2, N'Фролов', N'Антон', N'Ильич', N'пер. Бухарестская, 02', N'+7(906)911-26-90', 0)
INSERT [dbo].[ReaderCard] ([Id], [Surname], [FirstName], [Patronymic], [Address], [Phone], [IsBlock]) VALUES (3, N'Смирнов', N'Максим', N'Андреевич', N'пер. Ленина, 82', N'+7(906)610-29-39', 0)
SET IDENTITY_INSERT [dbo].[ReaderCard] OFF
GO
SET IDENTITY_INSERT [dbo].[Theme] ON 

INSERT [dbo].[Theme] ([Id], [Title]) VALUES (1, N'Бизнес-книги ')
INSERT [dbo].[Theme] ([Id], [Title]) VALUES (2, N'Классическая литература ')
INSERT [dbo].[Theme] ([Id], [Title]) VALUES (3, N'Зарубежная литература ')
SET IDENTITY_INSERT [dbo].[Theme] OFF
GO
SET IDENTITY_INSERT [dbo].[TurnOver] ON 

INSERT [dbo].[TurnOver] ([Id], [ReaderCardId], [BookId], [EmployeeId], [DateIssue], [DateReturn]) VALUES (1, 1, 2, 1, CAST(N'2021-12-01T00:00:00.000' AS DateTime), CAST(N'2021-12-03T11:00:00.000' AS DateTime))
INSERT [dbo].[TurnOver] ([Id], [ReaderCardId], [BookId], [EmployeeId], [DateIssue], [DateReturn]) VALUES (2, 9, 1, 1, CAST(N'2021-11-01T00:00:00.000' AS DateTime), CAST(N'2022-12-04T13:05:00.000' AS DateTime))
INSERT [dbo].[TurnOver] ([Id], [ReaderCardId], [BookId], [EmployeeId], [DateIssue], [DateReturn]) VALUES (3, 2, 5, 1, CAST(N'2021-12-03T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TurnOver] OFF
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Theme] FOREIGN KEY([ThemeId])
REFERENCES [dbo].[Theme] ([Id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Theme]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[TurnOver]  WITH CHECK ADD  CONSTRAINT [FK_TurnOver_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[TurnOver] CHECK CONSTRAINT [FK_TurnOver_Book]
GO
ALTER TABLE [dbo].[TurnOver]  WITH CHECK ADD  CONSTRAINT [FK_TurnOver_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[TurnOver] CHECK CONSTRAINT [FK_TurnOver_Employee]
GO
ALTER TABLE [dbo].[TurnOver]  WITH CHECK ADD  CONSTRAINT [FK_TurnOver_ReaderCard] FOREIGN KEY([ReaderCardId])
REFERENCES [dbo].[ReaderCard] ([Id])
GO
ALTER TABLE [dbo].[TurnOver] CHECK CONSTRAINT [FK_TurnOver_ReaderCard]
GO
USE [master]
GO
